<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddPNLF_1000000</key>
				<true/>
				<key>FIX_INTELGFX_100000</key>
				<true/>
				<key>FIX_RTC_20000</key>
				<true/>
				<key>FIX_S3D_2000000</key>
				<true/>
				<key>FIX_TMR_40000</key>
				<true/>
				<key>FIX_WAK_200000</key>
				<true/>
				<key>FixAirport_4000</key>
				<true/>
				<key>FixDisplay_0100</key>
				<true/>
				<key>FixHDA_8000</key>
				<true/>
				<key>FixHPET_0010</key>
				<true/>
				<key>FixRegions_10000000</key>
				<true/>
				<key>FixUSB_1000</key>
				<true/>
				<key>NewWay_80000000</key>
				<true/>
				<key>Patches</key>
				<array>
					<dict>
						<key>Comment</key>
						<string>GFX0 -&gt; IGPU</string>
						<key>Find</key>
						<data>
						R0ZYMA==
						</data>
						<key>Replace</key>
						<data>
						SUdQVQ==
						</data>
					</dict>
					<dict>
						<key>Comment</key>
						<string>Rename B0D3 to HDAU</string>
						<key>Find</key>
						<data>
						QjBEMw==
						</data>
						<key>Replace</key>
						<data>
						SERBVQ==
						</data>
					</dict>
				</array>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>ReuseFFFF</key>
			<false/>
			<key>SuspendOverride</key>
			<true/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>SataTabl</string>
			</dict>
		</array>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<true/>
			<key>EnableC6</key>
			<true/>
			<key>EnableC7</key>
			<true/>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
			</dict>
			<key>PluginType</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>nv_disable=1 darwake=0</string>
		<key>BlackList</key>
		<array/>
		<key>DefaultVolume</key>
		<string>MacHDD</string>
		<key>Legacy</key>
		<string>LegacyBiosDefault</string>
		<key>Log</key>
		<true/>
		<key>NeverHibernate</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>XMPDetection</key>
		<false/>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>#DefaultBackgroundColor</key>
		<string>0xF0F0F0</string>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>#BusSpeedkHz</key>
		<integer>133330</integer>
		<key>#FrequencyMHz</key>
		<integer>3140</integer>
		<key>#HWPEnable</key>
		<true/>
		<key>#HWPValue</key>
		<string>0x30002a01</string>
		<key>#QPI</key>
		<integer>4800</integer>
		<key>#SavingMode</key>
		<integer>7</integer>
		<key>#TDP</key>
		<integer>95</integer>
		<key>#TurboDisable</key>
		<true/>
		<key>#Type</key>
		<string>0x0201</string>
		<key>#UseARTFrequency</key>
		<true/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>Arbitrary</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Inject Intel HD properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>model</string>
						<key>Value</key>
						<string>Intel HD Graphics 4600</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>
						EgQAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>AAPL,ig-platform-id</string>
						<key>Value</key>
						<data>
						BgAmCg==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>hda-gfx</string>
						<key>Value</key>
						<string>onboard-1</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>graphic-options</string>
						<key>Value</key>
						<data>
						DAAAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>boot-gamma-restored</string>
						<key>Value</key>
						<data>
						AAAAAAAAAAA=
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>IOHibernateState</string>
						<key>Value</key>
						<data>
						AAAAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>
						axAAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>
						hoAAAA==
						</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:02.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject IMEI properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>
						OpwAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>
						cHIAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>
						hoAAAA==
						</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:16.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject HDAU properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>hda-gfx</string>
						<key>Value</key>
						<string>onboard-1</string>
					</dict>
					<dict>
						<key>Key</key>
						<string>layout-id</string>
						<key>Value</key>
						<data>
						AwAAAA==
						</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:03.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject HDA properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Key</key>
						<string>layout-id</string>
						<key>Value</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>
						cHIAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>
						hoAAAA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>MaximumBootBeepVolume</string>
						<key>Value</key>
						<data>
						AA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>PinConfigurations</string>
						<key>Value</key>
						<data>
						AA==
						</data>
					</dict>
					<dict>
						<key>Key</key>
						<string>platformFamily</string>
						<key>Value</key>
						<data>
						AA==
						</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1B.00</string>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<string>29</string>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>ATI</key>
			<string>0x0</string>
			<key>LAN</key>
			<string>0x0</string>
			<key>NVidia</key>
			<string>0x0</string>
			<key>SATA</key>
			<string>0x0</string>
			<key>WIFI</key>
			<string>0x43a014e4</string>
			<key>XHCI</key>
			<string>0x0</string>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>GUI</key>
	<dict>
		<key>Hide</key>
		<array>
			<string>Windows</string>
			<string>\EFI\BOOT\BOOTX64.EFI</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>4</integer>
		</dict>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<false/>
			<key>Tool</key>
			<false/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>iClover</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>#Connectors</key>
		<array/>
		<key>#DualLink</key>
		<integer>0</integer>
		<key>#FBName</key>
		<string>Makakakakala</string>
		<key>#Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>#LoadVBios</key>
		<false/>
		<key>#NVCAP</key>
		<string>04000000000003000C0000000000000A00000000</string>
		<key>#NvidiaGeneric</key>
		<true/>
		<key>#NvidiaSingle</key>
		<false/>
		<key>#PatchVBios</key>
		<false/>
		<key>#PatchVBiosBytes</key>
		<array>
			<dict>
				<key>Find</key>
				<data>
				gAeoAqAF
				</data>
				<key>Replace</key>
				<data>
				gAeoAjgE
				</data>
			</dict>
		</array>
		<key>#VRAM</key>
		<integer>1024</integer>
		<key>#VideoPorts</key>
		<string>2</string>
		<key>#display-cfg</key>
		<string>03010300FFFF0001</string>
		<key>#ig-platform-id</key>
		<string>0x0D220003</string>
		<key>EDID</key>
		<dict>
			<key>#Custom</key>
			<data>
			AP///////wAGECGSAAAAAAASAQOAIRV4CunVmVlTjigmUFQAAAAB
			AQEBAQEBAQEBAQEBAQEB3iGgcFCEHzAgIFYAS88QAAAY3iGgcFCE
			HzAgIFYAS88QAAAAAAAA/gBXNjU3RwAxNTRXUDEKAAAA/gAjMz1I
			ZYSq/wIBCiAgAJo=
			</data>
			<key>#Inject</key>
			<true/>
			<key>#ProductID</key>
			<string>0x9221</string>
			<key>#VendorID</key>
			<string>0x1006</string>
			<key>Inject</key>
			<true/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>#BootPatches</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Example</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				RXh0ZXJuYWw=
				</data>
				<key>MatchOS</key>
				<string>All</string>
				<key>Replace</key>
				<data>
				SW50ZXJuYWw=
				</data>
			</dict>
		</array>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				SGVhZHBob25lcwA=
				</data>
				<key>Name</key>
				<string>VoodooHDA</string>
				<key>Replace</key>
				<data>
				VGVsZXBob25lcwA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Patch_to_not_load_this_driver</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<string>0x04020000</string>
				<key>InfoPlistPatch</key>
				<true/>
				<key>Name</key>
				<string>AppleHDAController</string>
				<key>Replace</key>
				<string>0x44220000</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Boot graphics glitch logo</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				AQAAdSU=
				</data>
				<key>Name</key>
				<string>IOGraphicsFamily</string>
				<key>Replace</key>
				<data>
				AQAA6yU=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Trim Enabler</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QVBQTEUgU1NE
				</data>
				<key>Name</key>
				<string>IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>
				AAAAAAAAAAAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Continuity</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				SIX/dEdIiwc=
				</data>
				<key>Name</key>
				<string>IOBluetoothFamily</string>
				<key>Replace</key>
				<data>
				Qb4PAAAA60Q=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Make BCM94352HMB AirPort 5GHz</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				axAAAHUN
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				axAAAJCQ
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Make BCM94352HMB AirPort </string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gflSqgAAdSk=
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				gflSqgAAZpA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Make BCM94352HMB AirPort Extreme</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QYP8/3QsSA==
				</data>
				<key>Name</key>
				<string>AirPortBrcm4360</string>
				<key>Replace</key>
				<data>
				ZscGI2HrKw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB3 post wake</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				xoDIAAAAAQ==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				xoDIAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				dTpIiwU9nQAA
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				6zpIiwU9nQAA
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				Zj0AAQ==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				Zj0AAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				gUkIAABAAA==
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				gUkIAAAAAA==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QcdHCAAAQAA=
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				QcdHCAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				QcdHCAAAQAA=
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				QcdHCAAAAAA=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Enable USB3</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				dU1Ii7voAQAA
				</data>
				<key>Name</key>
				<string>AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				601Ii7voAQAA
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>MLB</key>
		<string>C0xxxxxxxxxxxxx1K</string>
		<key>ROM</key>
		<data>
		AgAAAAAA
		</data>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>#BiosReleaseDate</key>
		<string>05/03/10</string>
		<key>#BiosVendor</key>
		<string>Apple Inc.</string>
		<key>#BiosVersion</key>
		<string>MB11.88Z.0061.B03.0809221748</string>
		<key>#Board-ID</key>
		<string>Mac-F4208CC8</string>
		<key>#BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>#BoardSerialNumber</key>
		<string>C02032101R5DC771H</string>
		<key>#BoardType</key>
		<integer>10</integer>
		<key>#BoardVersion</key>
		<string>Proto1</string>
		<key>#ChassisAssetTag</key>
		<string>LatitudeD420</string>
		<key>#ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>#ChassisType</key>
		<integer>16</integer>
		<key>#Family</key>
		<string>MacBook</string>
		<key>#FirmwareFeatures</key>
		<string>0xC0001403</string>
		<key>#LocationInChassis</key>
		<string>MLB</string>
		<key>#Memory</key>
		<dict>
			<key>Channels</key>
			<integer>2</integer>
			<key>Modules</key>
			<array>
				<dict>
					<key>Frequency</key>
					<integer>1333</integer>
					<key>Part</key>
					<string>C0001403</string>
					<key>Serial</key>
					<string>00001001</string>
					<key>Size</key>
					<integer>4096</integer>
					<key>Slot</key>
					<integer>0</integer>
					<key>Type</key>
					<string>DDR3</string>
					<key>Vendor</key>
					<string>Kingston</string>
				</dict>
				<dict>
					<key>Frequency</key>
					<integer>1333</integer>
					<key>Part</key>
					<string>C0001404</string>
					<key>Serial</key>
					<string>00001002</string>
					<key>Size</key>
					<integer>4096</integer>
					<key>Slot</key>
					<integer>2</integer>
					<key>Type</key>
					<string>DDR3</string>
					<key>Vendor</key>
					<string>Kingston</string>
				</dict>
			</array>
			<key>SlotCount</key>
			<integer>4</integer>
		</dict>
		<key>#Mobile</key>
		<true/>
		<key>#PlatformFeature</key>
		<integer>3</integer>
		<key>#ProductName</key>
		<string>MacBook1,1</string>
		<key>#SerialNumber</key>
		<string>4H629LYAU9C</string>
		<key>#Slots</key>
		<array>
			<dict>
				<key>Device</key>
				<string>ATI</string>
				<key>ID</key>
				<integer>1</integer>
				<key>Name</key>
				<string>PCIe Slot 0</string>
				<key>Type</key>
				<integer>16</integer>
			</dict>
			<dict>
				<key>Device</key>
				<string>WIFI</string>
				<key>ID</key>
				<integer>0</integer>
				<key>Name</key>
				<string>Airport</string>
				<key>Type</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>#SmUUID</key>
		<string>00000000-0000-1000-8000-010203040506</string>
		<key>#Trust</key>
		<true/>
		<key>#Version</key>
		<string>1.0</string>
		<key>BiosReleaseDate</key>
		<string>12/22/2016</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>IM142.88Z.0118.B17.1612221936</string>
		<key>Board-ID</key>
		<string>Mac-27ADBB7B4CEE8E61</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>ChassisAssetTag</key>
		<string>iMac-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x13</string>
		<key>Family</key>
		<string>iMac</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<false/>
		<key>New item</key>
		<string></string>
		<key>ProductName</key>
		<string>iMac14,2</string>
		<key>SerialNumber</key>
		<string>C02LGE6UF8JC</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
