<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>#DisableDrivers</key>
	<array>
		<string>CsmVideoDxe</string>
		<string>VBoxExt4</string>
	</array>
	<key>ACPI</key>
	<dict>
		<key>DSDT</key>
		<dict>
			<key>#SlpSmiAtWake</key>
			<true/>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<true/>
				<key>AddHDMI</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>AddPNLF</key>
				<true/>
				<key>DeleteUnused</key>
				<false/>
				<key>FixACST</key>
				<true/>
				<key>FixDarwin</key>
				<false/>
				<key>FixDarwin7</key>
				<true/>
				<key>FixDisplay</key>
				<false/>
				<key>FixHDA</key>
				<true/>
				<key>FixHPET</key>
				<false/>
				<key>FixIPIC</key>
				<true/>
				<key>FixRegions</key>
				<true/>
				<key>FixS3D</key>
				<true/>
				<key>FixShutdown</key>
				<false/>
				<key>FixTMR</key>
				<true/>
				<key>FixWAK</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X09TSQ==
					</data>
					<key>Replace</key>
					<data>
					WE9TSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>Rename HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					X0RTTQ==
					</data>
					<key>Replace</key>
					<data>
					WERTTQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMQ==
					</data>
					<key>Replace</key>
					<data>
					RUgwMQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					RUhDMg==
					</data>
					<key>Replace</key>
					<data>
					RUgwMg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change XHCI to XHC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WEhDSQ==
					</data>
					<key>Replace</key>
					<data>
					WEhDXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change XHC1 to XHC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					WEhDMQ==
					</data>
					<key>Replace</key>
					<data>
					WEhDXw==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change LPC to LPCB</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					TFBDXw==
					</data>
					<key>Replace</key>
					<data>
					TFBDQg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>CpuPm</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>SSDT</string>
				<key>TableId</key>
				<string>Cpu0Ist</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>EnableC6</key>
			<false/>
			<key>EnableC7</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APLF</key>
				<true/>
				<key>APSN</key>
				<true/>
				<key>CStates</key>
				<true/>
				<key>PStates</key>
				<true/>
				<key>PluginType</key>
				<true/>
			</dict>
			<key>PluginType</key>
			<string>1</string>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>-v slide=0 darkwake=8 nv_disable=1 debug=0x100</string>
		<key>CustomLogo</key>
		<string>Theme</string>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>boot.efi</string>
		<key>DefaultVolume</key>
		<string>C</string>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<true/>
		<key>NoEarlyProgress</key>
		<false/>
		<key>Secure</key>
		<false/>
		<key>Timeout</key>
		<integer>3</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>#DefaultBackgroundColor</key>
		<string>0xF0F0F0</string>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>#IntelMaxValue</key>
		<integer>1808</integer>
		<key>#SetIntelBacklight</key>
		<false/>
		<key>#SetIntelMaxBacklight</key>
		<true/>
		<key>Arbitrary</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Inject Intel HD properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>model</string>
						<key>Value</key>
						<string>Intel HD Graphics 4600</string>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>
						EgQAAA==
						</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>AAPL,ig-platform-id</string>
						<key>Value</key>
						<data>
						BgAmCg==
						</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>hda-gfx</string>
						<key>Value</key>
						<string>onboard-1</string>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>graphic-options</string>
						<key>Value</key>
						<data>
						DAAAAA==
						</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>boot-gamma-restored</string>
						<key>Value</key>
						<data>
						AAAAAAAAAAA=
						</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>IOHibernateState</string>
						<key>Value</key>
						<data>
						AAAAAA==
						</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>
						axAAAA==
						</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>
						hoAAAA==
						</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:02.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject IMEI properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>device-id</string>
						<key>Value</key>
						<data>
						OpwAAA==
						</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>
						cHIAAA==
						</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>
						hoAAAA==
						</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:16.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject HDAU properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>hda-gfx</string>
						<key>Value</key>
						<string>onboard-1</string>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>layout-id</string>
						<key>Value</key>
						<data>
						HQAAAA==
						</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:03.00</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string>Inject HDA properties</string>
				<key>CustomProperties</key>
				<array>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>layout-id</string>
						<key>Value</key>
						<data>
						HQAAAA==
						</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-id</string>
						<key>Value</key>
						<data>
						cHIAAA==
						</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>subsystem-vendor-id</string>
						<key>Value</key>
						<data>
						hoAAAA==
						</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>MaximumBootBeepVolume</string>
						<key>Value</key>
						<data>
						AA==
						</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>PinConfigurations</string>
						<key>Value</key>
						<data>
						AA==
						</data>
					</dict>
					<dict>
						<key>Disabled</key>
						<false/>
						<key>Key</key>
						<string>platformFamily</string>
						<key>Value</key>
						<data>
						AA==
						</data>
					</dict>
				</array>
				<key>PciAddr</key>
				<string>00:1B.00</string>
			</dict>
		</array>
		<key>Audio</key>
		<dict>
			<key>#Inject</key>
			<string>0x0887</string>
			<key>AFGLowPowerState</key>
			<true/>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>FakeID</key>
		<dict>
			<key>#ATI</key>
			<string>0x67501002</string>
			<key>#IMEI</key>
			<string>0x1e208086</string>
			<key>#LAN</key>
			<string>0x100E8086</string>
			<key>#NVidia</key>
			<string>0x11de10de</string>
			<key>#SATA</key>
			<string>0x25628086</string>
			<key>#WIFI</key>
			<string>0x431214e4</string>
			<key>#XHCI</key>
			<string>0x0</string>
			<key>IntelGFX</key>
			<string>0x04128086</string>
		</dict>
		<key>NoDefaultProperties</key>
		<false/>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>Language</key>
		<string>ru:0</string>
		<key>Mouse</key>
		<dict>
			<key>DoubleClick</key>
			<integer>500</integer>
			<key>Enabled</key>
			<true/>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>8</integer>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Theme</key>
		<string>hackintoshzone</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>#Custom</key>
			<data>
			AP///////wAGECGSAAAAAAASAQOAIRV4CunVmVlTjigmUFQAAAAB
			AQEBAQEBAQEBAQEBAQEB3iGgcFCEHzAgIFYAS88QAAAY3iGgcFCE
			HzAgIFYAS88QAAAAAAAA/gBXNjU3RwAxNTRXUDEKAAAA/gAjMz1I
			ZYSq/wIBCiAgAJo=
			</data>
			<key>#HorizontalSyncPulseWidth</key>
			<string>0x11</string>
			<key>#Inject</key>
			<true/>
			<key>#ProductID</key>
			<string>0x9221</string>
			<key>#VendorID</key>
			<string>0x1006</string>
			<key>#VideoInputSignal</key>
			<string>0xA1</string>
			<key>Inject</key>
			<true/>
		</dict>
		<key>Inject</key>
		<dict>
			<key>Intel</key>
			<false/>
			<key>NVidia</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>#FakeCPUID</key>
		<string>0x010676</string>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>Fix IO Error ICH10</string>
				<key>Disabled</key>
				<true/>
				<key>Find</key>
				<data>
				RYX2D5XCiciD4P5mhcl4D4TSdQs=
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>AppleAHCIPort</string>
				<key>Replace</key>
				<data>
				iciD4P5mhckPmMFBCMyQkJCQdQs=
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>disable port limit in XHCI kext (credit DalianSky,Ricky)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/sPD4OPBAAA
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.1,10.14.2</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g/sPkJCQkJCQ
				</data>
			</dict>
		</array>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x0038</string>
		<key>CsrActiveConfig</key>
		<string>0x3ff</string>
		<key>MLB</key>
		<string>C02514100QXGDQPA8</string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>09/17/2018</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MBP114.88Z.0185.B00.1809171422</string>
		<key>Board-ID</key>
		<string>Mac-06F11FD93F0323C5</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02514100QXGDQPA8</string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x0A</string>
		<key>EfiVersion</key>
		<string>187.0.0.0.0</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>FirmwareFeatures</key>
		<string>0xE80FE137</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Mobile</key>
		<true/>
		<key>PlatformFeature</key>
		<string>0x02</string>
		<key>ProductName</key>
		<string>MacBookPro11,4</string>
		<key>SerialNumber</key>
		<string>C02PJ009G8WL</string>
		<key>SmUUID</key>
		<string>448CFECD-F03E-42F1-B50E-E6D5788F54AA</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>ExposeSysVariables</key>
		<false/>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
